.quranSurah{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.surah{
    width: 140px;
    background: #E14D2A;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}