.quranSurah{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}
.surah{
    width: 142px;
    background: #E14D2A;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    margin-left: 10px;
}
.surah a{
    text-decoration: none;
    color: #fff;
    padding: 3px;
    display: inline-block;
}