.App{
  width: 80%;
  margin: auto
}
.mainTabs{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #ddd;
  justify-content: center;
}
.tab,
.activeTab{
  border-left: 1px solid #aaa;
  padding: 5px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  line-height: 25px;
  font-weight: bold;
  text-decoration: none;
}
.activeTab{
  border-bottom: 2px solid #E14D2A;
  background-color: #fff;
  color: #E14D2A
}
.tab:last-of-type,
.activeTab:last-of-type{
  border: 0;
}
.active{
  width: 85%;
  margin: 30px auto
}